.container-buttons {
    height: 100vh;
}

.container-content {
    height: 100vh;
}

.modal-trigger {
    margin-top: 1rem;
}

.btn-commands {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.slider .indicators .indicator-item.active {
    background-color: #1ed2ff;
}